doctype html
html
  head
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='/bower_components/materialize/dist/css/materialize.min.css'  media='screen,projection')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/materialize/dist/js/materialize.min.js')
  body
    block content